.title-seperator-component__title {
    font-family: "Nunito";
    font-size: 2.2rem;
    font-weight: 700;
    color: #667eea;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .title-seperator-component__line {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
    height: 2px;
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    border: none;
    border-radius: 5px;
  }