.resume-body__root {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.resume-body__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.resume-body__about {
  order: 0;
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
  display: contents;
}

@media (max-width: 900px) {
  .resume-body__about {
    display: block;
  }
}

@media (max-width: 1200px) {
  .resume-body__right {
    margin-left: 20px;
    margin-right: 7%;
  }
}

@media (max-width: 900px) {
  .resume-body__root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .resume-body__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    order: 1;
  }
  
  .resume-body__about {
    order: 2;
  }
}

@media (max-width: 480px) {
  .resume-body__root {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .resume-body__right {
    width: 100%;
    padding: 0 5px;
    order: 1;
  }
  
  .resume-body__about {
    order: 2;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
