.navbar-root {
  z-index: 9999;
  height: 25px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 10px 20px 20px 20px;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

.active {
  color: rgb(0, 0, 0) !important;
  background-color: rgba(41, 41, 41, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.not-active {
  background-color: rgba(41, 41, 41, 0.5);
  color: white;
}
